include index.html
link(rel="stylesheet" href=stylesheet)

section
    div(class="modal fade modal-example" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true")
        div(class="modal-dialog modal-dialog-scrollable" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    form(class="form-horizontal" role="form" method="POST")
                        div(class="form-group")
                            input(id="title" name="title" class="form-control form-title" type="text" value=result.title)
                        div(class="form-group")
                            input(id="description" name="description" class="form-control display-1" type="text" value=result.description)
                            input(type="submit" style="visibility: hidden;")
                            div.pt-3.d-flex.justify-content-end
                                a.pl-4
                                    i.far.fa-image
                                a.pl-4
                                    i.fas.fa-palette
                                div(class="pl-4 btn-hide")
                                    i.fas.fa-times


